.Result {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 12px;
  min-height: max-content;
  margin-top: 3rem;
}
.Result p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  font-weight: bold;
}
